@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

.gradient__text {
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient__bg {
    background-attachment: fixed;
    
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
}

.flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-text {
    font-weight: 400;
    /* line-height: 2.5rem; */
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

a:hover{
    transition: all 0.2s ease-in-out;
}

header {
    margin-top: 2.5rem;
}

#title {
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0.8rem;
}

.repolink {
    font-size: 1.6rem;
}

.repolink span {
    color: #0e5ed4;
}

.repolink a:hover {
    font-size: 1.7rem;
    color: #0e5ed4;
}

.container {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.badges {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.badges img {
    margin: 0 1rem;
}

.api-example {
    margin: 2rem 0;
}

.api-example p:first-of-type {
    padding-top: 1rem;
    color: #2e8b57;
    margin-bottom: 0.5rem;
}

#base-url a:hover {
    font-size: 1.6rem;
    color: #0e5ed4;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

.contributing {
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 3rem;
}

.contributing h2 {
    margin-bottom: 1rem;
}

.contributing p {
    margin-top: 0.2rem;
}

.author {
    font-size: 1.1rem;
    margin-bottom: 3rem;
}

.author a:hover {
    color: #0e5ed4;
    font-size: 1.2rem;
    border-bottom: 0.1rem solid #000;
}


@media screen and (max-width:750px){
    html{
        font-size: 10px;
    }
    .container{
        margin: 2rem 8rem 0 8rem;
    }
}

@media screen and (max-width: 550px) {
    html{
        font-size: 9px;
    }
    .container {
        margin: 1rem 5rem 0 5rem;
    }
}

@media screen and (max-width:410px){
    html{
        font-size: 8px;
    }
    .repolink{
        margin: 0 2rem;
    }
    .badges{
        flex-wrap: wrap;
    }

    .badges > *{
        padding-top: 1rem;
    }

    
    .container{
        margin: 1rem 3rem 0 3rem;
    }
}